* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f6f1eb;
  margin: 0;
  padding: 0;
}

h1.titulo {
  font-family: 'Georgia', serif;
  text-align: center;
  color: #4e3629;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #4e3629;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4e3629;
  color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}


.estrellas {
  color: #FFD700; /* Color dorado para las estrellas */
}

.enlaces-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}


.volver-inicio,
.ver-hoteles-link,
.anadir-hoteles-link {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background-color: #4e3629;
  color: #fff;
  border-radius: 5px;
  margin: 0 10px; /* Espacio entre los enlaces */
}
